#Home {
  bottom: 100%;
}
#AboutMe {
  bottom: 200%;
}
#Projects {
  background: green;
  bottom: 300%;
}
#Contacts {
  background: yellow;
  bottom: 400%;
}

.content {
  width: 100%;
  height: min-content;
  margin-bottom: 10%;
}
